#cloud-config

write_files:

<% unless @enable_custom_arm_settings %>
- path: /etc/systemd/system/docker.service.d/20-run-binfmt-container.conf
  permissions: 0644
  owner: root
  content: |
    [Service]
    ExecStartPost=docker run --rm --privileged <%= @binfmt_image %> <%= @binfmt_args %>
<% end %>

- path: /etc/systemd/system/docker.service.d/05-iptables-restore-wants.conf
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Wants=network-online.target containerd.service iptables-restore.service

<% if @enable_install_gpu_driver %>
- path: /etc/systemd/system/gpu-driver.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    After=docker.service docker.socket
    Wants=docker.service docker.socket
    Requires=docker.service docker.socket

    [Service]
    Type=oneshot
    RemainAfterExit=true
    ExecStart=cos-extensions install gpu
    ExecStart=mount --bind /var/lib/nvidia /var/lib/nvidia
    ExecStart=mount -o remount,exec /var/lib/nvidia

    [Install]
    WantedBy=multi-user.target
<% end %>

- path: /etc/systemd/system.conf
  permissions: 0644
  owner: root
  content: |
    [Manager]
    # Defaults from Google Container Optimized OS
    DefaultCPUAccounting=yes
    DefaultBlockIOAccounting=yes
    # Our custom timeout to speed-up VM shutdown
    # see: https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/13826#note_632590419
    DefaultTimeoutStopSec=5s

- path: /var/lib/cloud/scripts/per-boot/00-enable-swap
  permissions: 0755
  owner: root
  content: |
    #!/usr/bin/env sh

    sysctl vm.disk_based_swap=1
    fallocate -l 2G /var/swapfile
    chmod 600 /var/swapfile
    mkswap /var/swapfile
    swapon /var/swapfile

- path: /var/lib/cloud/scripts/per-boot/01-configure-custom-sysctl
  permissions: 0755
  owner: root
  content: |
    #!/usr/bin/env sh

    # Required for Elasticsearch docker images to function:
    # https://gitlab.com/gitlab-com/infrastructure/issues/1687
    sysctl vm.max_map_count=262144

    # Swap is available, but not preferred
    sysctl vm.swappiness=10

<% if @enable_install_gpu_driver %>
runcmd:
- systemctl enable gpu-driver.service
- systemctl start gpu-driver.service
<% end %>
